body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background: rgb(70, 70, 77);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

input {
    width: 90%;
    padding: 10px;
    align-items: center;
    margin-bottom: 20px;
}

button {
    width: 90%;
    align-items: center;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
}

.links {
    text-align: center;
}

.links a {
    display: inline-block;
    align-items: center;
    margin-top: 10px;
}
